.box {
  width: 100px;
  height: 100px;
  background-color: #0000ff;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}
.box.active {
  background-color: #ff0000;
}
.btn-bg {
  background-color: #0000ff;
}
/*.my-button{width:1000px!important;height:100px!important;}*/
.banner {
  width: 600px;
  height: 300px;
}
